.line {
    border-top: .5px solid #CDCDCD;
    opacity: 50%;
}

.menuListContainer {
    width: 370px;
    border: 3px solid #EEEEEE;
    padding: 10px 15px 15px 15px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 6px 2px #EEEEEE;
    -moz-box-shadow: 0 0 6px 2px #EEEEEE;
    box-shadow: 0 0 6px 2px #EEEEEE;
}