.customCheckbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    position: relative;
    padding: 4px;
    border-radius: 6px;
}

.checkbox {
    width: 23px;
    height: 23px;
    border: 1px solid #CDCDCD;
    border-radius: 6px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    background-color: white;
}

.checked {
    background-color: #5087F8; /* Customize color for checked state */
    border-color: #5087F8;
}

.label {
    font-size: 16px;
    color: #333;
}

.checkboxIcon {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.checkedIcon {
    color: white;
}

.customCheckbox:hover {
    background-color: #EAF0FE;
    transition: background-color 0.3s ease;
}

.customCheckbox:hover .checkbox {
    background-color: #5087F8;
    border: 1px solid #5087F8;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}