.customCheckbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.checkbox {
    width: 25px;
    height: 25px;
    border: 1px solid #888;
    border-radius: 6px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.checked {
    background-color: #5087F8; /* Customize color for checked state */
    border-color: #5087F8;
}

.label {
    font-size: 16px;
    color: #333;
}

.checkboxIcon {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #878787;
}

.checkedIcon {
    color: white;
}

.customCheckbox:hover .checkbox {
    background-color: #3f51b5;
    border: 1px solid #3f51b5;
}

.customCheckbox:hover .checkboxIcon {
    color: white;
}